body{
        background-color: DarkViolet;
    }
    section {
        background: white;
        border-radius: 10px;
        padding: 15px;
        width: 500px;
        margin: auto;         /* Centralizando a TAG */
        *text-align: center;  /* Centralizando o texto */
        box-shadow: 5px 5px 10px rgba(49, 49, 49, 0.383)
    }
    div{
        text-align: center;
    }
    .bt{
        border-radius: 70px;
    }